@charset "UTF-8";

/* レイアウト確認用アウトライン */
/* * { outline: 2px solid #8f8ead;} */

html {
  font-size: 100%;
}
body {
  background-color: #EDEAE5;
  color: #333333;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
}
li {
  list-style: none;
}
h1 {
  font-family: 'Libre Baskerville', serif;
}